<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper⽂件相当于DAO接⼝的‘实现类’，namespace属性要指定`实现`DAO接⼝的全限定名-->
<mapper namespace="books.dao.FoodDao">
    <resultMap id="FoodMap" type="books.pojo.Food">
        <result column="foodname" property="foodname"></result>
        <result column="price" property="price"></result>
        <result column="pic" property="foodpic"></result>
    </resultMap>

    <insert id="insertFood">
        INSERT INTO foods(foodname, price, pic)
        VALUES (#{foodname}, #{price}, #{foodpic})
    </insert>

    <select id="queryAllFood" resultMap="FoodMap" useCache="false">
        SELECT foodname, price, pic
        FROM foods
    </select>

    <update id="editFood">
        UPDATE foods
        set price=#{price}
        WHERE foodname = #{foodname}
    </update>
</mapper>