<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- default属性，⽤来指定使⽤哪个environment标签 -->
    <environments default="mysql">
        <environment id="mysql">
            <!--transactionManager标签⽤于配置数据库管理⽅式-->
            <transactionManager type="JDBC"></transactionManager>
            <!--dataSource标签就是⽤来配置数据库连接信息 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/books?
characterEncoding=utf-8"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mappers/StudentMapper.xml"/>
        <mapper resource="mappers/BookMapper.xml"/>
        <mapper resource="mappers/UserMapper.xml"/>
        <mapper resource="mappers/FoodMapper.xml"/>
        <mapper resource="mappers/SitMapper.xml"/>
    </mappers>
</configuration>